.question-page-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: $bg-lt;
  border: 1px solid red;
  padding: 40px 20px;
  
  @media all and (min-width: 768px) {
    padding: 100px 60px;
  }
}

.image-container {
  width: 100%;
  height: auto;
  margin-bottom: 48px;
  border-radius: 4px;
  
  @media all and (min-width: 768px) {
    max-width: 60%;
  }
  
  img {
    width: 100%;
    -webkit-box-shadow: 0px 0px 12px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 12px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 12px 2px rgba(0,0,0,0.75);
  }
}

.question-text {
  font-weight: bold;
  margin-bottom: 32px;
}

form {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;

  @media all and (min-width: 768px) {
    max-width: 60%;
  }
}

.answer-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style-type: none;
  padding-left: 0;

  .list-item {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    background-color: $bg-dark;
    color: $fg-lt;
    cursor: pointer;
    border-radius: 6px;

    label {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      cursor: pointer;
      border-radius: 6px;

      &:hover {
        background-color: #333;
        color: white;
        -webkit-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.75);
      }

      &.selected {
        background-color: $fg-dark;
        color: $bg-dark;
        border: 2px solid $bg-dark;
      }
    }

    span {
      pointer-events: none;
    }

    input {
      visibility:hidden;
    }
  }
}

.question-image {
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 12px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 12px 2px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 12px 2px rgba(0,0,0,0.75);
  margin-bottom: 32px;
}